@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700&display=swap");

:root{
    --border-radius: 3px;
    --status-1: #910000;
    --status-2: #cea500;
    --status-3: #917200;
    --status-4: #099100;
    --status-5: #006455;
    --status-6: #005291;
      --status-7: #5c0591;
    --status-8: #ff74ca;
    --status-9: #91008f;

}

html {
  width: 100%;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #ddd url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal-noise.png);
}

$desktop: 840px;

$phone: 500px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    font-weight: 400;
    @include phone{
      font-size: 3em;
    }
}

#boards {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;

  section.board{
    margin: 20px 0;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;

    @include desktop{
      margin: 20px !important;
    }

    .board-header{
    height: 50px;
    background: #fff;
      @include phone {
        height: min-content;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, max-content);
      }

      .board-title{
    margin: 13px;
    display: inline-block;
    font-size: 20px;
        @include phone {
          margin: 10px;
        }
}
      .board-title, .board-add, .board-toggle{
    display: inline-block;
}
      .board-toggle{
    float: right;
    margin: 13px;
        @include phone {
          margin: 10px;
        }
}
}
}
}

.board-columns{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.board-column{
    padding: 10px;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    margin: 5px auto;
  @include phone {
    padding: 5px;
  }
}

.board-column-content{
    min-height: 49px;
  @include phone {
    min-height: 30px;
  }
}

.board-column-content:empty{
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;
}

.board-column-title{

    margin-right: 70px;
}

.card{
    position: relative;
    background: #222;
    color: #fff;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;
}

.board-column:nth-of-type(1) .card{
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card{
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card{
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card{
    background: var(--status-4);
}

.board-column:nth-of-type(5) .card{
    background: var(--status-5);
}

.board-column:nth-of-type(6) .card{
    background: var(--status-6);
}
.board-column:nth-of-type(7) .card{
    background: var(--status-7);
}
.board-column:nth-of-type(8) .card{
    background: var(--status-8);
}
.board-column:nth-of-type(9) .card{
    background: var(--status-9);
}
.board-column:nth-of-type(10) .card{
    background: var(--status-10);
}

.card-remove{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-title{
    margin: auto 50px auto 0;
  font-size: 20px;
}

button{
    background: #30799B;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 4px 10px;
    margin-left: 10px;
  border-radius: 4px;

}

button:hover {
    background-color: rgba(34, 34, 34, .9);
  }

/* This is based on the work of Joshua Saunders */
.board-layout {
    background-color: rgb(100, 92, 165);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 10px;
    padding: 10px;
    height:800px;
  }
.list-layout {
    display: grid;
    grid-gap: 10px;

  }
.board-text {
    font-weight: bold;
    font-size: 28px;
    padding: 5px;
  }
.board-lists {
    display: grid;
    grid-auto-columns: 275px;
    grid-auto-flow: column;
    grid-gap: 10px;
    height: 400px;

  }

  .board-list {
    background-color: rgb(235, 236, 240);
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
/* Chrome use a fixed height */
height: max-content;
    padding: 10px;
  }

  .list-title {
    font-size: 18px;
    font-weight: bold;
  }
.card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 10px 10px 10px 10px;
    cursor:pointer;
  display: grid;
  grid-template-columns: 80% 15% 5%;
  }


.dots{
  grid-column: 3;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}


.dot {
  margin: 2px;
  height: 5px;
  width: 5px;
  background-color: rgba(0,0,0,.4);
  border-radius: 50%;
  display: inline-block;
  text-align: right;
}

[contenteditable=true]{
  content: attr(placeholder);
  white-space: pre-wrap;

}

.column-title{
  display: grid;
  grid-template-columns: 90% 10%;
}

.add-column{
  @include phone{
    grid-column: 3;
    height: 25px;
    margin: 10px;
    width: 110px;
  }
}

.board-add{
  @include phone{
    grid-column: 2;
    grid-row: 2;
    height: 25px;
    margin: 10px;
    width: 110px;
  }
}

.delete-board{
  @include phone{
    grid-column: 3;
    height: 25px;
    margin: 10px;
    width: 110px;
  }
}

.board-toggle{
  @include phone{
    width: 60px;
    height: 25px;
    grid-column: 1;
    grid-row: 2;
  }
}

.board-toggle{
  @include phone{
    margin-left: 30px !important;
  }
}

.board-title{
  min-width: 200px;
  @include phone{
    grid-column: 1/3;
  }
}

.delete-card{
  margin: auto;
  padding-top: 1px;
}