@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700&display=swap");
:root {
  --border-radius: 3px;
  --status-1: #910000;
  --status-2: #917200;
  --status-3: #8a9100;
  --status-4: #099100;
}

html {
  width: 100%;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #ddd url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal-noise.png);
}

h1 {
  text-align: center;
  font-size: 4em;
  letter-spacing: 5px;
  font-weight: 400;
}
@media (max-width: 500px) {
  h1 {
    font-size: 3em;
  }
}

#boards {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
}
#boards section.board {
  margin: 20px 0;
  border: aliceblue;
  background: #ffffff90;
  border-radius: 3px;
}
@media (min-width: 840px) {
  #boards section.board {
    margin: 20px !important;
  }
}
#boards section.board .board-header {
  height: 50px;
  background: #fff;
}
@media (max-width: 500px) {
  #boards section.board .board-header {
    height: min-content;
  }
}
#boards section.board .board-header .board-title {
  margin: 13px;
  display: inline-block;
  font-size: 20px;
}
@media (max-width: 500px) {
  #boards section.board .board-header .board-title {
    margin: 10px;
  }
}
#boards section.board .board-header .board-title, #boards section.board .board-header .board-add, #boards section.board .board-header .board-toggle {
  display: inline-block;
}
#boards section.board .board-header .board-toggle {
  float: right;
  margin: 13px;
}
@media (max-width: 500px) {
  #boards section.board .board-header .board-toggle {
    margin: 10px;
  }
}

.board-columns {
  display: flex;
  flex-wrap: wrap;
}

.board-column {
  padding: 10px;
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  margin: 5px auto;
}
@media (max-width: 500px) {
  .board-column {
    padding: 5px;
  }
}

.board-column-content {
  min-height: 49px;
}
@media (max-width: 500px) {
  .board-column-content {
    min-height: 30px;
  }
}

.board-column-content:empty {
  /*This only works if the tag is really empty and there is not even whitespace inside*/
  border: 4px solid #cdcdcd;
  margin-top: 4px;
  border-radius: 10px;
  background: #eee;
}

.board-column-title {
  text-align: center;
}

.card {
  position: relative;
  background: #222;
  color: #fff;
  border-radius: var(--border-radius);
  margin: 4px 0;
  padding: 4px;
}

.board-column:nth-of-type(1) .card {
  background: var(--status-1);
}

.board-column:nth-of-type(2) .card {
  background: var(--status-2);
}

.board-column:nth-of-type(3) .card {
  background: var(--status-3);
}

.board-column:nth-of-type(4) .card {
  background: var(--status-4);
}

.card-remove {
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 12px;
  cursor: pointer;
}

.card-title {
  margin-right: 50px;
}

button {
  background: #30799B;
  color: #fff;
  border: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 4px 10px;
  margin-left: 10px;
  border-radius: 4px;
}

button:hover {
  background-color: rgba(34, 34, 34, 0.9);
}

/* This is based on the work of Joshua Saunders */
.board-layout {
  background-color: #645ca5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: grid;
  grid-template-rows: max-content auto;
  grid-gap: 10px;
  padding: 10px;
  height: 800px;
}

.list-layout {
  display: grid;
  grid-gap: 10px;
}

.board-text {
  font-weight: bold;
  font-size: 28px;
  padding: 5px;
}

.board-lists {
  display: grid;
  grid-auto-columns: 275px;
  grid-auto-flow: column;
  grid-gap: 10px;
  height: 400px;
}

.board-list {
  background-color: #ebecf0;
  border-radius: 3px;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 10px;
  /* Chrome use a fixed height */
  height: max-content;
  padding: 10px;
}

.list-title {
  font-size: 18px;
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  padding: 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 90% 10%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: inline-block;
  grid-column: 2;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.5), -5px -6px 10px rgba(255, 255, 255, 0.2);
}

/*# sourceMappingURL=main.css.map */
