<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMando</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <h1>ProMando</h1>
        <button id="add-board">Add new board</button>
        <div id="boards">Boards are loading...</div>
        <template id="board-template">
            <section class="board">
                <div class="board-header"><span class="board-title">Board 1</span>
                    <button class="board-add">Add Card</button>
                    <button class="delete-board">Delete Board</button>
                    <button class="board-toggle"><i class="fas fa-chevron-down"></i></button>
                </div>
                <div class="board-columns"></div>
            </section>
        </template>
        <template id="column-template">
            <div class="board-column">
                    <div class="board-column-title">New</div>
                    <div class="board-column-content"></div>
                </div>
        </template>
        <template id="card-template">
            <div class="card">
                <div class="card-remove"><i class="fas fa-trash-alt"></i></div>
                <div class="card-title">Card 1</div>
            </div>
        </template>
    </body>
</html>